<!-- directive -->
<!-- 20200123 -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>directive</title>
    </head>
    <body>
        <div id="app">
            <!-- 뷰 인스턴스에 정의된 flag 값에 따라 표시할 지 안할지 결정 -->
            <a v-if="flag">두잇 Vue.js</a>
            <ul>
                <!-- 지정된 데이터의 갯수만큼 html 태그 출력 -->
                <li v-for="system in systems">{{ system }}</li>
            </ul>
            <!-- v-if와 같이 값의 불리언 값에 따라 태그를 표현할 때 사용, 차이점이라면 v-if는 사용하지 않을 경우 완전히 삭제하지만 v-show는 속성을 통해 보이지 않게만 설정 -->
            <p v-show="flag">두잇 Vue.js</p>
            <!-- 뷰 인스턴스에 정의된 속성과 바인딩 -->
            <h5 v-bind:id="uid">뷰 입문서</h5>
            <!-- 이벤트를 감지하여 처리할 때 사용 -->
            <button v-on:click="popupAlert">경고 창 버튼</button>
        </div>

        <!-- 필요한 라이브러리 CDN 방식 호출 -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            // 실습 코드 작성
            new Vue({
                el: '#app',
                data: {
                    flag: true,
                    systems: ['android', 'ios', 'window'],
                    uid: 10,
                },
                methods: {
                    popupAlert: function() {
                        alert('경고 창 표시')
                    }
                }
            })
        </script>
    </body>
</html>